# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore npm-debug files
npm-debug.log*

# Ignore environment variable files
.env

# Ignore Mac system files
.DS_Store

# Ignore Windows system files
Thumbs.db

# Ignore IDE and editor specific files
.idea/
.vscode/

# Ignore coverage directory for test frameworks
coverage/

# Ignore build directories (for compiled files)
dist/
build/
